<h2 class="page-header">Editar proveedor</h2>
<div class="row">
<%= link_to 'Mostrar', @cliente, class: "btn btn-default" %> 
<%= link_to 'Regresar', clientes_path, class: "btn btn-default" %>
<p></p>
<%= render 'form' %>
</div>
