<h2 class="page-header">Editar tienda</h2>
<div class="row">
<div class="col-md-offset-4">
<%= link_to 'Mostrar', @tienda_cliente,  class: "btn btn-default" %> 
<%= link_to 'Regresar', cliente_tiendas_clientes_path(@tienda_cliente.cliente), class: "btn btn-default" %>
</div>
<p></p>
<%= render 'form' %>
</div>
