<h2 class="page-header">Editar stock</h2>
<div class="row">
<%= link_to 'Mostrar', @reloj, class: "btn btn-default" %> 
<%= link_to 'Regresar', relojes_path, class: "btn btn-default" %>
<p></p>
<%= render 'formStock' %>
</div>

