<h2 class="page-header">Editar reloj</h2>
<div class="row">
<div class="col-md-offset-4">
<%= link_to 'Mostrar', @reloj, class: "btn btn-default" %> 
<%= link_to 'Regresar', relojes_path, class: "btn btn-default" %>
</div>
<p></p>
<%= render 'form' %>
</div>

