<h2 class="page-header">Inicio</h2>
<% if current_user.is_admin %>
<%= render "admin" %>
<% elsif current_user.vendedor %>
<%= render "vendedor" %>
<% elsif current_user.repartidor %>
<%= render "repartidor" %>
<% end %>
