<h2 class="page-header">Estadísticas de compras</h2>
<a href="/pedidos/stats.pdf" data-method="get" class='btn btn-default'>Exportar a PDF</a>
<div class = row>
	<p></p>
	<div class="col-lg-12"> 
		<div class="panel panel-default">
			<div class="panel-heading">
				Compras diarias en los últimos 30 días 
			</div>                       
			<div class="panel-body">
			<%= area_chart(@compras_dia) %>
			</div>
		</div>
	</div>

	<div class="col-lg-12"> 
		<div class="panel panel-default">
			<div class="panel-heading">
				Compras mensuales en el último año
			</div>                       
			<div class="panel-body">
			<%= area_chart(@compras_mes) %>
			</div>
		</div>
	</div>
	
	<div class="col-lg-6"> 
		<div class="panel panel-default">
			<div class="panel-heading">
				Compras por proveedor 
			</div>                       
			<div class="panel-body">
			<%= column_chart(@compras_proveedor) %>
			</div>
		</div>
	</div>
</div>
