<h2 class="page-header">Editar repartidor</h2>
<div class="row">
<div class="col-md-offset-4">
<%= link_to 'Mostrar', @repartidor, class: "btn btn-default"  %>
<%= link_to 'Regresar', repartidores_path,  class: "btn btn-default"  %>
</div>
<p></p>
<%= render 'form' %>
</div>

