<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<h2 class="page-header">Editar orden</h1>

<div class="col-md-offset-4">
<%= link_to 'Mostrar', @orden, class: "btn btn-default" %> 
<%= link_to 'Regresar', ordenes_path, class: "btn btn-default" %>
</div>
<p></p>
<%= render 'form' %>
<script>
  $(document).ready(function() {
    $('#cliente_select').change(function() {
      $.ajax({
        url: "<%= update_tiendas_path %>",
				type: "POST",
				beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data: {
          cliente_id : $('#cliente_select').val()
        },
        dataType: "script"
      });
    });
  });
</script>
