<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<h2 class="page-header">Nueva orden</h2>

<%= render 'form' %>

<script>
  $(document).ready(function() {
    $('#cliente_select').change(function() {
      $.ajax({
        url: "<%= update_tiendas_path %>",
				type: "POST",
				beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data: {
          cliente_id : $('#cliente_select').val()
        },
        dataType: "script"
      });
    });
  });
</script>
